:root {
    --first-font: basic-sans, sans-serif;
    --clr-primary: #ee6352;
    --clr-body: #333;
    --clr-bg: #ddd;
    --spacer: 1rem;
  } 
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  h1,
  h2,
  h3,
  p {
  margin: 0;
  }

.grid{
    max-width: 60rem;
    margin: 0 auto;   
    display: column;
    columns: 3;
    gap: 1em;
}

@supports(grid-template-rows: masonry){
  .grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: masonry;
  }
}

body{
  font-family:var(--first-font) ;
  font-size: 1em;
  color: var(--clr-body);
  background: var(--clr-bg);
  min-height: 100vh;
  line-height: 1.6;
}

h1{
  color: var(--clr-primary);
    margin: 3rem 0;
    text-align: center;
    font-size: clamp(2rem, 1rem, + 3vw, 6rem);
    font-weight: 300;
}

a{
  color: var(--clr-primary);
}

.content{
  padding: 2em;
  box-shadow: 0 0 3em rgba(0, 0, 0, 0.15);
  background: white;
}

.title{
  font-weight: 900;
  color: var(--clr-primary);
  line-height: 0.8;
}


